<h1>Edit</h1>
<%= render "form" %>

<%= link_to arena_path(@arena), method: :delete, data: { confirm: "Are you sure?"} do %>
<i class="fas fa-trash"></i>
<% end %>

<%= link_to "Back to all arenas", arenas_path %>
