<div class="container-test kenburns-top" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('https://cdn.vox-cdn.com/thumbor/fF1xaW1l5fGdLyuX3PRm7S87flU=/0x0:1100x733/1200x800/filters:focal(0x0:1100x733)/cdn.vox-cdn.com/uploads/chorus_image/image/45812056/102_MGM.0.jpg');background-size: cover; ">
    <%= render "form" %>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Your Arena</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
<div class="card zoom" data-aos="zoom-in-up">
  <div class="card-picture">
      <%= image_tag "", width: 400, class: "hidden", id: "photo-preview" %>
  </div>
  <div class="card-body">
    <h2><span class="title-modal"></span></h2>
      <p class="card-text"><span class="description-modal"></span></p>
      <p class="card-text"><span class="price-modal"></span>€</p>
  </div>
</div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>






