<div class="container-test" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('https://i.ytimg.com/vi/k16uJPb3ta8/maxresdefault.jpg'); background-repeat: no-repeat; background-size: cover; height: 100vh;">
    <%= render "form" %>

</div>




