<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1552072092-7f9b8d63efcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h1>The Fight Club Paname brings <strong>fighting skills</strong> to <strong> coding people </strong>!</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <!-- <a class="btn btn-flat btn-primary" href="#">Book an Arena</a> -->
    <h2><%= link_to "Choose your arena", arenas_path, :class=>"btn btn-primary"%></h2>
  </div>
</div>

<div class= "container">
    <h2 class="mt-3 text-center">The Lastest Arenas</h2>
  <div class="cards">
    <% @arenas.last(6).each do |arena| %>
        <div class="card zoom">
          <div class="card-picture" data-id="<%= arena.id %>">
            <% if !arena.photo.nil? %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path arena.photo, height: 300, width: 400, crop: :fill %>')">
              </div>
            <% else %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('https://images.unsplash.com/photo-1519741347686-c1e0aadf4611?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1980&q=80')">
              </div>
            <% end %>
          </div>
          <div class="card-body">
            <h4><%= arena.title %></h4>
          </div>
        </div>
        <% end %>
  </div>
</div>
