

.home-banner {
  background-image: url('https://images.unsplash.com/photo-1552072092-7f9b8d63efcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

